html{
    
font-family: 'Courier New', Courier, monospace;

}

#box{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 auto; /* CENTRALIZAR */
    background-color: red;
    border: 5px blue solid;
    color: white;
    text-align: justify; /* ALINHAMENTO HORIZONTAL */
    letter-spacing: 3px; /* ESPAÇO ENTRE AS LETRAS */
    vertical-align: top; /* ALINHAMENRO VERTICAL */
    line-height: normal;/* ALTURA DA LINHA */
    font-size: 25px;
    font-weight: 100;

}

a:link{
    color: red;
}

a:hover{
    font-size: 40px;
}

a:visited{
    color: blue;
}